nodered.json
[{"id":"8b0cfff9.360c68","type":"function","z":"653fe181.1b0a6","name":"For Twillio","func":"if (msg.payload){ \nmsg.topic=msg.payload.phone_num;\nmsg.payload = \"Call To Mechanic, Brake is not Working Properly\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":849.5,"y":216,"wires":[["806b6ce.824129"]]},{"id":"7829f84b.c66c1","type":"http in","z":"653fe181.1b0a6","name":"","url":"/send-brake-status","method":"post","upload":false,"swaggerDoc":"","x":497,"y":32,"wires":[["e812f399.22dad8"]]},{"id":"d9c5030e.4fcfd","type":"function","z":"653fe181.1b0a6","name":"Process Number","func":"if (msg.payload !== null)\n{\nmsg.payload=msg.payload.payload;\n}\nelse{\n    msg.payload={}\n}\nreturn msg;","outputs":1,"noerr":0,"x":838.5,"y":98,"wires":[["8b0cfff9.360c68"]]},{"id":"fb124431.b2c428","type":"ibmiot in","z":"653fe181.1b0a6","authentication":"apiKey","apiKey":"806905af.595978","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Beast-Device","applicationId":"","deviceType":"Beast-Device-type","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":138,"y":37,"wires":[["f7ee2a1a.28935"]]},{"id":"f7ee2a1a.28935","type":"function","z":"653fe181.1b0a6","name":"Process Speed","func":"msg.payload=parseInt(msg.payload.d.speed);\nreturn msg;","outputs":1,"noerr":0,"x":179.5,"y":142,"wires":[["f9ebcfec.f4da3"]]},{"id":"f9ebcfec.f4da3","type":"ui_gauge","z":"653fe181.1b0a6","name":"","group":"450a2cb.e83ac54","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"KMP/H","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":141.5,"y":258,"wires":[]},{"id":"9911273f.e9289","type":"ui_form","z":"653fe181.1b0a6","name":"","label":"Car Registration Form","group":"8262157b.a19cc","order":0,"width":0,"height":0,"options":[{"label":"Owner Name","value":"name","type":"text","required":true},{"label":"Car Name","value":"car_name","type":"text","required":true},{"label":"Phone Number","value":"phone_num","type":"text","required":true},{"label":"Car_Number","value":"car_num","type":"text","required":true}],"formValue":{"name":"","car_name":"","phone_num":"","car_num":""},"payload":"","topic":"","x":276,"y":457,"wires":[["2ee3459e.a7d48a"]]},{"id":"2ee3459e.a7d48a","type":"cloudant out","z":"653fe181.1b0a6","name":"SCAP","cloudant":"","database":"scap","service":"Beast-app-cloudantNoSQLDB","payonly":false,"operation":"insert","x":339.5,"y":597,"wires":[]},{"id":"e812f399.22dad8","type":"function","z":"653fe181.1b0a6","name":"Get Registered Id","func":"msg.payload=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":132,"wires":[["66515ac7.745f5c"]]},{"id":"66515ac7.745f5c","type":"cloudant in","z":"653fe181.1b0a6","name":"","cloudant":"","database":"scap","service":"Beast-app-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":492.5,"y":216,"wires":[["d9c5030e.4fcfd"]]},{"id":"58885592.171b34","type":"cloudant in","z":"653fe181.1b0a6","name":"","cloudant":"","database":"scap","service":"Beast-app-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":866.5,"y":548,"wires":[["9decd787.506ea"]]},{"id":"757b04c3.a720a4","type":"http in","z":"653fe181.1b0a6","name":"","url":"/get-all","method":"get","upload":false,"swaggerDoc":"","x":823.5,"y":433,"wires":[["58885592.171b34"]]},{"id":"9decd787.506ea","type":"http response","z":"653fe181.1b0a6","name":"","statusCode":"","headers":{},"x":882.5,"y":632,"wires":[]},{"id":"51c52c2.a9c0d54","type":"cloudant out","z":"653fe181.1b0a6","name":"","cloudant":"","database":"scap","service":"Beast-app-cloudantNoSQLDB","payonly":false,"operation":"delete","x":623.5,"y":588,"wires":[]},{"id":"e3fe1c77.5dd68","type":"ui_form","z":"653fe181.1b0a6","name":"","label":"Car deletion","group":"6fa5842.0dda47c","order":0,"width":0,"height":0,"options":[{"label":"Id","value":"_id","type":"text","required":true},{"label":"Rev","value":"_rev","type":"text","required":true}],"formValue":{"_id":"","_rev":""},"payload":"","topic":"","x":613.5,"y":442,"wires":[["51c52c2.a9c0d54"]]},{"id":"806b6ce.824129","type":"twilio out","z":"653fe181.1b0a6","service":"_ext_","twilio":"fe957cd5.50d79","from":"","number":"","name":"","x":818,"y":330.75,"wires":[]},{"id":"735cb07c.8e2fd8","type":"comment","z":"653fe181.1b0a6","name":"Additional UI","info":"","x":275.75,"y":371.6499938964844,"wires":[]},{"id":"806905af.595978","type":"ibmiot","z":"","name":"input","keepalive":"60","serverName":"n69fbf.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"450a2cb.e83ac54","type":"ui_group","z":"","name":"Speed","tab":"a0c50f67.1faf","disp":true,"width":"6","collapse":false},{"id":"8262157b.a19cc","type":"ui_group","z":"","name":"Car Registration","tab":"89ed46d2.39ab38","order":1,"disp":false,"width":"6","collapse":false},{"id":"6fa5842.0dda47c","type":"ui_group","z":"","name":"Car deletion","tab":"89ed46d2.39ab38","disp":true,"width":"6","collapse":false},{"id":"fe957cd5.50d79","type":"twilio-api","z":"","sid":"rq2j3mdhk324d,jmq2hjk2hjfkaukc323r","from":"+9999999999999","name":"Twillio"},{"id":"a0c50f67.1faf","type":"ui_tab","z":"","name":"Speed Display","icon":"network_check","order":3},{"id":"89ed46d2.39ab38","type":"ui_tab","z":"","name":"Car Registration and Deletion","icon":"delete","order":1}]
